<div class="introWrapper">
<nav>
	
</nav>
<h1>
  {{title}}
</h1>
<h2>
	{{subtitle}}
</h2>
<p>Experience is the combination of perceptions, emotions, memories, responses and knowledge that result from an interaction, actual or expected, with a product, a system, a service or a brand. It concerns everything that a person feels before (expectation), during (the proper experience) and after (memories) this interaction.
We are in the Customer Age. Today people want enriched experiences that improve their lives. Customers reward companies whose products exceed their expectations.
Brands that address this shift by building their business around a brand of listening and working with customers become and stay profitable over time.</p>

<button class="btnPrime" (click)="clicked($event)">Click</button>

<app-manifest-list></app-manifest-list>
</div>