$primaryColor: hotpink;
$secondaryColor: #FFF;
* {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin: 30px 50px;
}
.introWrapper {
	width: 900px;
	margin: 0 auto;
	h1 {
	font-weight: 300;
	}
	h2 {
	 	font-weight: 400;
	}
	p {
		padding-bottom: 40px;
	}
	.navBtns {
		display: flex;
	    justify-content: center;
	    margin: 0;
	}
}
a {
	&.btnPrime {
		border: 1px solid $primaryColor;
	    background-color: $primaryColor;
	    color: $secondaryColor;
	    font-size: 20px;
	    font-weight: 100;
	    cursor: pointer;
	    box-sizing: border-box;
	    transition: all .5s;
	    padding: 28px 20px;
    	border-radius: 50%;
    	text-decoration: none;
	    &:hover, &.router-link-active {
	    	background-color: $secondaryColor;
	    	border: 1px solid $primaryColor;
	    	color: $primaryColor;
	    }
	    &:focus {
	    	outline: none;
	    }
	}
}
