$primaryColor: hotpink;
$secondaryColor: #FFF;
$shadowColor: #ccc;

// generic transform
@mixin 	transform($transforms) {
	   	-moz-transform: $transforms;
	    -o-transform: $transforms;
	    -ms-transform: $transforms;
		-webkit-transform: $transforms;
        transform: $transforms;
}
// translateY
@mixin translateY($deg) {
  @include transform(translateY(#{$deg}));
}

* {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin: 30px 50px;
}
.introWrapper {
	width: 900px;
	margin: 0 auto;
	h1 {
	font-weight: 300;
	}
	h2 {
	 	font-weight: 400;
	}
	p {
		padding-bottom: 40px;
	}
	.navBtns {
		display: flex;
	    justify-content: center;
	    margin: 0;
	}
}
a {
	&.btnPrime {
		border: 1px solid $primaryColor;
	    background-color: $primaryColor;
	    color: $secondaryColor;
	    font-size: 20px;
	    font-weight: 100;
	    cursor: pointer;
	    box-sizing: border-box;
	    transition: all .5s;
	    padding: 28px 20px;
    	text-decoration: none;
    	box-shadow: 0 4px 8px $shadowColor;
	    &:hover, &.router-link-active {
	    	background-color: $secondaryColor;
	    	border: 1px solid $secondaryColor;
	    	color: $primaryColor;
	    	@include translateY(-10%);
	    	box-shadow: 0px 3px 17px $shadowColor;
	    }
	    &:focus {
	    	outline: none;
	    }
	}
}
