<div class="motoWrapper">
<h2>Why</h2>

<ul>
	<li>Experience is what our users go through when they interact with our products. Going through an experience is a natural, subjective and plural process that each user experiments in a personal way. This is why it cant be unequivocally predetermined.</li>
	<li>Experience can be improved and can evolve into new forms. Understanding user's day by day experiences allows to design better forms that, in this way, turn out to be more useful, simple, and pleasing.</li>
	<li>A positive experience improves user's lives. Improving means making people feel at ease and satisfied, and it means making the moment they go through the experience more natural and enjoyable.</li>
	<li>A positive experience goes beyond user's expectations. Being able to surprise people in a positive way is proof of high-quality experience.</li>
	<li>A positive experience is simple and clear. A positive experience is self-explanatory because it's intuitive and crystal clear.</li>
</ul>
</div>
