* {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	margin: 30px 50px;
}
.motoWrapper {
	width: 900px;
	margin: 0 auto;
	padding: 40px 0;
}
h2 {
	font-size: 42px;
    font-weight: 100;
}
ul {
	margin: 0;
	li {
		font-size: 20px;
    	font-weight: 200;
		list-style-type:none;
	}
}